li{background-color: rgb(84, 82, 82);
    border: 2px solid rgb(103, 97, 97);
        width: 285px;
        margin: 15px;    
    }
div.parrent{display: flex;
    height: 960px;
    width: 960px;

border: 2px solid black;}